bcrypt==3.1.6
cffi==1.12.3
Click==7.0
dominate==2.3.5
Flask==1.0.3
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Gunicorn==0.1.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
freeze==1.0.10
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
psycopg2==2.8.2
pycparser==2.19
six==1.12.0
SQLAlchemy==1.3.4
visitor==0.1.3
Werkzeug==0.15.4
WTForms==2.2.1
